{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% crispy rate_form rate_form.helper %}
{% block title %}Dollar Quote Project - Home {% endblock title %}
{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa\
9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<h1>Dollar Quote Project</h1>

<p>
    This website was created to check dollar quote compared to
    some another currencies.
</p>

<form method="POST" class="post-form" enctype="multipart/form-data">
    {% crispy form %}
</form>
    {% if context != None %}
        <div id="container"></div>
        <script src="https://code.highcharts.com/highcharts.src.js"></script>
        <script>
            Highcharts.chart('container', {
            title: {
                text: "USD to {{ context.currency }} exchange rate over time"
            },
            yAxis: {
                title: {
                    text: 'Exchange rate'
                }
            },
            xAxis: {
                categories: {{ context.categories | safe }}
            },

            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    }
                }
            },

            series: {{ context.series | safe}},

            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }

        });
        </script>
    {% endif %}
    {% if error != None %}
        <p>{{ error }}</p>
    {% endif %}
{% endblock content %}
