{% extends 'base.html' %}
{% block title %}Dollar Quote Project - Home {% endblock title %}
{% block content %}
<h1>Dollar Quote Project</h1>

<p>
    This website was created to check dollar quote compared to
    some another currencies.
</p>

<form>
    <div>
        <label for="start">Start date:</label>
        <input type="date" id="start" name="date_start"
            value="2018-07-22"
            min="2018-01-01" max="2022-10-25">
    </div>

    <div>
        <label for="end">End date:</label>
        <input type="date" id="end" name="date_end"
            value="2018-07-22"
            min="2018-01-01" max="2022-10-25">
    </div>

    <div>
        <label for="currency">Choose a currency:</label>
        <select name="currency" id="currency">
          <option value="BRL">Brazilian Real</option>
          <option value="EUR">Euro</option>
          <option value="YEN">Japanese Yen</option>
        </select>
    </div>

    <button>Submit</button>

    {% if data != None %}
        <alert>Estamos aqui</alert>
    {% endif %}
    {% if error != None %}
        <alert>{{ error }}</alert>
    {% endif %}
</form>
{% endblock content %}
